@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    background-color: #181818;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
#wrapper{
    display:flex;
    flex-direction: row;
}

#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#right{
    flex: 1;
}

/* Sign in */
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    padding-bottom:1rem;
}
#signin form{
    width: 80%;
    padding-bottom: 1rem;
}
#signin .logo img{
    width: 150px;
}
#signin label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
    color:#fff;
}
#signin .text-input{
    margin-bottom:1.3rem;
    width:100%;
    border-radius: 2px;
    background-color: #181818;
    border: 1px solid #555;
    color:#ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}
#signin .primary-btn{
    width: 100%;
}
#signin .secondary-btn,
.or,
.links{
    width:60%;
}

#signin .links a{
    color:#fff;
    text-decoration: none;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 0.9rem;
}
#signin .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}
#signin .or .bar{
    flex:auto;
    height:1;
    background:#aaa;
}
#signin .or span{
    color:#ccc;
    padding: 0 0.8rem;
}
/*ShowCase*/
#showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imgs/bg.jpg) no-repeat center center/cover;
    height:100vh;
    text-align: center;
    color:#ccc;
}
#showcase .showcase-text{
    color:#ccc;
    font-size: 3rem;
    width: 100%;
    margin-bottom:1.5rem;
}
/* Footer */
#main-footer{
    color:#ccc;
    text-align:center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 2rem;
}
#main-footer a{
    color:rgb(226, 6, 28);
}

/* Button */
.primary-btn{
    background-color: rgb(184, 0, 18);
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border:0;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
    text-emphasis: none;
    color:#fff;
    text-align: center;
    transition: all .6s;
}
.primary-btn:hover{
    background-color: rgb(226, 6, 28);
}

.secondary-btn{
    background-color:none;
    padding: 0.7rem 1rem;
    display: block;
    border:1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
    text-emphasis: none;
    color:#fff;
    text-align: center;
    transition: all .6s;
    text-decoration: none;
}
.secondary-btn:hover{
    border-color: rgb(226, 6, 28);
    color: rgb(226, 6, 28); 
}

#signin .primary-btn{
    width:100%;
}
/* Media queries */
@media(min-width:1200px){
    #left{
        flex:4;
    }
    #right{
        flex:6;
    }
}
@media(max-width:768px){
    body{
        overflow: auto;
    }
    #right{
        display:none;
    }
    #left{
        justify-content: start;
        margin-top:4rem;
    }
    #signin .logo{
        margin-bottom: 2vh;
    }
    #signin .text-input{
        margin-bottom: 0.7rem;
    }
    #main-footer{
        padding-top: 1rem;
    }
}

/* Sign Up */
#signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    padding-bottom:0rem;
    transition: all 0.6s;
}
#signup form{
    width: 80%;
    padding-bottom: 1rem;
}
#signup .logo img{
    padding-top: 2.3rem;
    width: 150px;
}
#signup label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
    color:#fff;
}
#signup .text-input{
    margin-bottom:1.3rem;
    width:100%;
    border-radius: 2px;
    background-color: #181818;
    border: 1px solid #555;
    color:#ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}
#signup .primary-btn{
    width: 100%;
}
#signup.secondary-btn{
    width:60%;
}

/* Utility Class */
.formHidden{
    display: none;
}



button{
    background-color:transparent;
    padding: 0.7rem 1rem;
    display: block;
    border:1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
    text-emphasis: none;
    color:#fff;
    text-align: center;
    transition: all .6s;
    text-decoration: none;
 }
button :hover{
    border-color: rgb(226, 6, 28);
    color: rgb(226, 6, 28); 
}
#showcase{
    background: url(../imgs/estbg.jpg) no-repeat center center/cover;
}
#right #showcase h1 strong:first-of-type{
        color:#d3071b;
}
#right #showcase h1 strong:nth-of-type(2){
        color:#333;
}
#right #showcase h1:first-of-type{
        background-color: rgba(255, 255, 255, 0.116);
}
#right #showcase h1:nth-of-type(2){
        background-color: rgba(0, 0, 0, 0.164);
}